language: python
python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"
env:
  - DJANGO_VERSION=1.3
  - DJANGO_VERSION=1.4
  - DJANGO_VERSION=1.7
  - DJANGO_VERSION=1.8
install:
  - pip install -q Django==$DJANGO_VERSION
script: py.test
matrix:
  exclude:
    - python: "2.6"
      env: DJANGO_VERSION=1.8
    - python: "2.6"
      env: DJANGO_VERSION=1.7
    - python: "3.4"
      env: DJANGO_VERSION=1.3
    - python: "3.4"
      env: DJANGO_VERSION=1.4
    - python: "3.5"
      env: DJANGO_VERSION=1.3
    - python: "3.5"
      env: DJANGO_VERSION=1.4
    - python: "3.5"
      env: DJANGO_VERSION=1.7